########################################
# BACKEND - SPRING BOOT (JAVA)
########################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr

########################################
# FRONTEND - ANGULAR
########################################
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
/.angular/cache
/coverage
/libpeerconnection.log
testem.log
/typings
/connect.lock
.sass-cache/
.history/*
.c9/
*.launch
.sublime-workspace

########################################
# IDEs and Editors
########################################
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

########################################
# SYSTEM FILES
########################################
.DS_Store
Thumbs.db